<tr id="subject-<%= subject.id %>">
  <td><%= link_to subject.name, [:admin, subject] %></td>
  <td><%= subject.question_number %></td>
  <td><%= subject.duration %></td>
  <td><%= link_to t("edit.button"), edit_admin_subject_path(subject),
    class: "btn btn-primary hvr-pulse-shrink" %></td>
  <td><%= link_to t("delete.button"), [:admin, subject], method: :delete,
    class: "btn btn-danger hvr-pulse-shrink", data: {confirm: t("delete.confirm")} %></td>
</tr>
