<% provide :title, t("page.subject") %>
<%= link_to t("subject.button"), new_admin_subject_path %>
<div>
  <table>
    <tr>
      <th><%= t "subject.name" %></th>
      <th><%= t "subject.question_number" %></th>
      <th><%= t "subject.duration" %></th>
    </tr>
    <%= render @subjects %>
  </table>
  <div class="clearfix"></div>
</div>
<div class="clearfix"></div>
