<div class="td-question">
  <table>
    <tr>
      <th><%= t "question.title" %></th>
      <th><%= t "question.subject" %></th>
      <th><%= t "question.approve" %></th>
      <th><%= t "users.action" %></th>
    </tr>
    <%= render @suggest_questions %>
  </table>
</div>
