<% provide :title, t("users.edit") %>
<h2><%= t "users.edit" %></h2>
<%= form_for [:admin, @user] do |f| %>
  <div class="field">
    <%= f.label :username %><br>
    <%= f.text_field :username, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :email %><br>
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit t "update" %>
  </div>
<% end %>
