<% provide :title, t("home.users_index") %>
<h1><%= t "home.users_index" %></h1>
<%= search_form_for @search, url: admin_users_path do |f| %>
  <%= f.submit t("users.search"),
    class:"hvr-pulse-shrink btn btn-success margin-1" %>
  <%= f.condition_fields do |c| %>
    <%= render "condition_fields", f: c %>
  <% end %>
  <%= link_to_add_fields t(:add_condition), f, :condition %>
<% end %>
<table class="table table-striped table-hover">
  <tr>
    <th><%= sort_link @search, :username, t("users.name") %></th>
    <th><%= sort_link @search, :email, t("users.email") %></th>
    <th><%= t "users.actions" %></th>
  </tr>
  <%= render @users %>
</table>
<%= paginate @users %>
