<% provide :title, t("page.do_exam", name: @exam.subject.name) %>
<div class="td-do-exam">
  <%= hidden_field_tag :remaining_time, @remaining_time %>
  <div class="col-md-2 col-md-offset-1 timer">
    <h4><%= t "exam.remaining_time" %></h4>
    <div id="clock"></div>
  </div>
  <div class="col-md-8 col-sm-8 col-md-offset-2 col-sm-offset-2 td-exam-form">
    <%= form_for @exam do |e| %>
      <ol>
        <%= e.fields_for :results do |r| %>
          <%= render "results/result_field", r: r %>
        <% end %>
      </ol>
      <div class="exam-button">
        <%= e.submit t("finish.save"),
          class: "btn btn-primary submit-time-out hvr-pulse-shrink" %>
        <%= e.submit t("finish.button"),
          class: "btn btn-danger hvr-pulse-shrink",
          name: "finish", data: {confirm: t("finish.warning")} %>
      </div>
    <% end %>
  </div>
  <div class="clearfix"></div>
</div>
