<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand hvr-bounce-to-left">
      <%= link_to t("title"), admin_root_url %>
    </li>
    <li class="hvr-bounce-to-left">
      <%= link_to t("page.exam"), admin_exams_path %>
    </li>
    <li class="hvr-bounce-to-left">
      <%= link_to t("page.noti"), admin_notifications_path %>
    </li>
    <li class="hvr-bounce-to-left">
      <%= link_to t("users.users"), admin_users_path %>
    </li>
    <li class="hvr-bounce-to-left">
      <%= link_to t("page.subjects"), admin_subjects_path %>
    </li>
    <li class="hvr-bounce-to-left">
      <%= link_to t("page.questions"), admin_questions_path %>
    </li>
    <li class="hvr-bounce-to-left">
      <%= link_to t(:log_out), destroy_user_session_path, method: :delete %>
    </li>
  </ul>
</div>
