<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title yield :title %></title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag "application", media: "all",
      "data-turbolinks-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbolinks-track": "reload" %>
    <%= render "layouts/shim" %>
  </head>
  <body>
    <%= render "layouts/header" %>
    <div class="content slide">
      <div class="container-fluid td-container row">
        <%= render "layouts/flash" %>
        <%= yield %>
      </div>
    </div>
    <div class="circle">
      <%= image_tag "up-arrow.png", class: "image-background" %>
    </div>
    <%= render "layouts/footer" %>
  </body>
</html>
